.appointment {
    background-image: url('../../images/Mask\ Group\ 21.png');
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 360px;
}
@media (max-width: 992px) {
    .appointment {
        background-image: none;
    }
}