.footer {
    background-image: url('../../../images/footer-bg.png');
    background-size: cover;
    padding-top: 80px;
}
.footer h6 {
    margin-bottom: 28px;
}
.footer p {
    font-size: 14px;
    color: gray;
}
.icon {
    border: 1px solid #19d3af;
    color: #19d3af;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.active-icon {
    background-color: #19d3af;
    border: none;
}