body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  border: none;
  font-weight: 500;
  background-image: linear-gradient(90deg, #19d3af, #0fcfeb);
  padding: 12px 10px;
  color: #fff;
  letter-spacing: 1px;
}
.black {
  color: #3A4256;
}
.blue {
  color: #19d3af;
}